body {
	background-color: #fff;
	text-align: center;
}

h4{ 
	color: #3c4859;
	margin-top: 100px;
	margin-bottom: 0px;
	padding: 0px;
	font-family: 'Sorts Mill Goudy', serif;
}

h1{
	color: #3c4859;
	font-family: 'Sorts Mill Goudy', serif;
	text-transform: uppercase;
	font-size: 50px;
	margin: 0px;
	padding: 0px;
}

h2{
	color: #3c4859;
	font-family: 'Sorts Mill Goudy', serif;
	margin-top: 0px;
	padding-top: 0px;
}

form{
	margin-top: 30px;
	margin-bottom: 100px;

}

hr {
	border:0.5px solid #d3dce6;
}
input{
	background: none;
	border:1px solid #d3dce6;
	height: 25px;
	border-radius: 7px;
	padding: 2px 2px 2px 10px;
	width: 250px;
}

button{
	background: #0FACF3;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	padding: 9px 16px 9px 16px;
	border-radius: 7px;
	border-style: none;
}

input::placeholder {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #3c4859;
}

.cards {
	border:1px solid #d3dce6;
	padding: 20px;
	border-radius: 7px;
	margin: 30px;
}

h3{
	text-align: left;
	color: #3c4859;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin-top: 0px;
}

p{
	text-align: left;
	color: #3c4859;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	margin: 0px;
}

.link{
	color: #0FACF3;
	font-weight: 700;
}